[*]
file_header_template = SDPX-FileCopyrightText: 2025-2026 WithLithum\nSPDX-License-Identifier: Apache-2.0

[*.cs]
csharp_style_namespace_declarations = file_scoped : warning;
csharp_using_directive_placement    = outside_namespace : suggestion;